extends layout

block content
  h1= title
  p Welcome to #{title}'S API
  button  <a class="btn btn-primary" href="http://localhost:5000/api/client">¡CLIENTE!</a>
  button  <a class="btn1 btn-secondary" href="http://localhost:5000/api/WORKER">¡TRABAJADOR!</a> 
