<%- include('../views/layouts/main_log_reg.ejs'); %>
<div class="container">
    <form className="">
        <h1 className="">Bienvenido Trabajador</h1>
            <div className="">
                <label className="">Usuario</label>
                    <div className="">
                        <input type="email" name="email" placeholder="ingresa tu usuario"/>
                    </div>
            </div>
            <div className="">
                <label className="">Contraseña</label>
                    <div className="">
                        <input type="password" name="password" placeholder="ingresa tu contrasena"/>
                    </div>
            </div>
            <div className=""> 
                <input type="submit" className=""value="Ingresar">
            </div>
            <div>
                <button type="submit"><a href="/registrar">Registro Trabajador</a></button>
            </div>
    </form>
</div>