<%- include('../views/layouts/main_trabajador.ejs'); %>
<div class="clearfix2 contenedoresena">
  <h1 class="tituloreseña">Solicitudes laborales</h1>
</div>
<div class="clearfix2">
<div class="contendordesta col-12 col-md-6 col-lg-3">
    <ul>
      <h2 class="titulodestacadoscent">Anita Fuentes</h2>
        <h2 class="form-label textcadest text-warning">Clases de ingles</h2>
        <p class="color1parrafo">
            Direccion: Cra 46a # 12-12</p>
        <p class="color1parrafo">
            Horario: 8:00 am - 10:00 am</p>
        <p class="color1parrafo">
            Fecha solicitud: 12/05/2023</p>
          <p class="color1parrafo">
            Comentarios: Por favor traer material de apoyo visual
            para la pronunciacion de los verbos en pasado.
          </p>
        </p>
    </ul>
    <div class="botoncliente">
        <a href="/venta_trabajo_inici">
            <input type="button" class="btn btn-primary" value="Aceptar solicitud"/>
        </a>
    </div>
</div>
<div class="contendordesta2 col-12 col-md-6 col-lg-3">
    <ul>
        <h2 class="titulodestacadoscent">Carlos Trujillo</h2>
          <h2 class="form-label textcadest text-warning">Reemplazo profesor</h2>
          <p class="color1parrafo">
              Direccion: Cra 203B # 82 - 12</p>
          <p class="color1parrafo">
              Horario: 8:00 am - 04:00 am</p>
          <p class="color1parrafo">
              Fecha solicitud: 02/02/2023</p>
            <p class="color1parrafo">
              Comentarios: El colegio en donde se llevara acabo el reemplazo
              sera un colegio publico, en donde se le brindara el almuerzo y 
              auxilio de transporte.
            </p>
          </p>
      </ul>
      <div class="botoncliente">
        <a href="/venta_trabajo_inici">
            <input type="button" class="btn btn-primary" value="Aceptar solicitud"/>
        </a>
    </div>
    </div>
</div>