<%- include('../views/layouts/main_trabajador.ejs'); %>
<div class="contenerPerfil">
    <h1 class="titulperfil">PERFIL DE USUARIO</h1>
    <form action="">
            <div class="distancia">
                <label class="textoperfil">NOMBRES:</label>
                <input type="text" name="nombre" value="CRISTIAN"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">APELLIDOS:</label>
                <input type="text" name="apellido" value="UNIVALLE"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">TELEFONO:</label>
                <input type="text" name="telefono" value="3227290517"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">DIRECCION:</label>
                <input type="text" name="direccion" value="Cra 46A #49-102"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">CORREO:</label>
                <input type="text" name="correo" value="CRISTIAN@GMAIL.COM"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">CONTRASEÑA:</label>
                <input type="password" name="password" value="**********"/>
            </div>
            <div class="distancia">
                <label class="textoperfil">OFICIO:</label>
                <input type="text" name="oficio" value="Programador Back-end"/>
            </div>
        <div class="guardar_cli">
            <input type="submit" class="btn btn-primary btn-me2" value="Guardar">
        </div>
    </form>
</div>