<%- include('../views/layouts/main_log_reg.ejs'); %>
<div class="container">
    <div class="contenerPrincipal col-12 col-md-6 col-lg-3">
        <form className="">
            <h1 class="tituloGrande">INGRESO A MANDE</h1>
                <div class="botoncliente">
                    <a href="/login_cliente">
                        <input type="button" class="btn btn-primary" value="Portal Clientes"/>
                    </a>
                </div>
                <div class="botontrabajador">
                    <a href="/login_trabajador">
                        <input type="button" class="btn btn-primary btn-me2" value="Portal Trabajadores"/>
                    </a>
                </div>
        </form>
    </div>
</div>
