<!DOCTYPE html>
<body>
    <div>
        <form action="./registrar" method="POST">
            <input type="email" name="email" placeholder="ingresa tu usuario">
            <input type="password" name="password" placeholder="ingresa tu contrase">
            <input type="submit" value="ingresar">
        </form>
    </div>
</body>