<%- include('../views/layouts/main_cliente.ejs'); %>
<div>
  <div class="contendorcateg">
    <h1 class="tituloGrande">Resultados de búsqueda</h1>
  </div>
    <div id="resultado">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% trabajo.forEach(function(user){ %>
                <tr class="table-primary">
                  <td>
                    <div class="iconoss">
                      <%= user.nombre %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= user.apellido %>
                      <p>Aqui va la descripcion</p>
                    </div>
                  </td>
                  <td>
                    <div class="comentarioalig">
                      <a href="/calificar">
                        <input type="button" class="btn btn-info" value="Solicitar">
                      </a>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
    </div>

  <div class="comentarioalig">
    <a href="/categorias">
      <input type="button" class="btn btn-primary" name="regresar" value="Regresar">
    </a>
  </div>
</div>

