<%- include('../views/layouts/main_cliente.ejs'); %>
<div class="clearfix2" style="display: flex; flex-direction: row; align-items: stretch;">
<div class="contendordesta col-12 col-md-6 col-lg-3">
    <ul>
      <h2 class="titulodestacadoscent">Noticias destacada #1</h2>
      <p class="fecha">28 Enero 2023</p>
      <li class="colorr">
        <h2 class="form-label textcadest text-warning">Desarrollador web</h2>
        <p class="color1parrafo">
          En las últimas semanas, este a sido uno de los
          trabajos con mayor demanda de registros dentro del sistema.
          Se estima que para el próximo fin de semana se deberá de realizar 
          mantenimiento a la plataforma para optimizar el funcionamiento de 
          solicitudes de este trabajo.
        </p>
      </li>
    </ul>
</div>
<div class="contendordesta2 col-12 col-md-6 col-lg-3">
  <ul>
    <h2 class="titulodestacadoscent2">Noticias destacada #2</h2>
    <p class="fecha">29 Enero 2023</p>
    <li class="colorr">
      <h2 class="form-label textcadest text-warning">Ampliación de categorías</h2>
      <p class="color1parrafo">
        Se espera que para inicios de febrero del año actual, se agreguen nuevas 
        categorías laborales al sistema con el propósito de mejorar la atención 
        para los clientes y trabajadores, quienes día a día ponen de su parte para 
        mejorar la plataforma con cada una de sus sugerencias.
      </p>
    </li>
  </ul>
</div>
</div>
<div class="gif">
  <img src="new.gif" alt="">
</div>
  