<%- include('../views/layouts/main_trabajador.ejs'); %>
<div class="clearfix2 contenedoresena">
  <h1 class="tituloreseña">Reseñas Destacadas</h1>
</div>
<div class="clearfix2">
<div class="contendordesta col-12 col-md-6 col-lg-3">
    <ul>
      <h2 class="titulodestacadoscent">Juan Pablo Garcia</h2>
      <p class="fecha">Calificacion: 4 Estrellas</p>
        <h2 class="form-label textcadest text-warning">CRUD PARA LOGIN</h2>
        <p class="color1parrafo">
          No soy fan de delegar mi trabajo a otras personas y mucho menos de 
          solicitarlo por medio de este tipo de páginas, sin embargo me sorprendió 
          la eficiencia y calidad del trabajador Cristian puesto que logró completar 
          la solicitud en el tiempo estimado y el resultado final era más o menos lo 
          que tenía planeado hacer en un principio.
          <p class="color1parrafo">
          Aunque la plataforma aún es algo nueva y le falta mejorar en varios aspectos, 
          si las personas que se registran para prestar sus servicios cuentan con la misma 
          motivación puede que la use más adelante.
        </p>
        </p>
    </ul>
</div>
<div class="contendordesta2 col-12 col-md-6 col-lg-3">
  <ul>
    <h2 class="titulodestacadoscent2">Valeria Hernandez</h2>
    <p class="fecha">Calificacion: 3 Estrellas</p>
      <h2 class="form-label textcadest text-warning">Conexión con API</h2>
      <p class="color1parrafo">
        Se espera que para inicios de febrero del año actual, se agreguen nuevas 
        categorías laborales al sistema con el propósito de mejorar la atención 
        para los clientes y trabajadores, quienes día a día ponen de su parte para 
        mejorar la plataforma con cada una de sus sugerencias.
      </p>
  </ul>
</div>
</div>
<div class="gifa">
  <img src="" alt="">
</div>
  
<!--style="display: flex; flex-direction: row; align-items: stretch;"-->